extends ../layout.jade
block content
  div.container
    div.row
      each item in movies
        div.col-md-2
          div.thumbnail
            a(href="/movie/#{item._id}")
              img(src="#{item.poster}",alt="#{item.title}")
            div.caption
              h3 #{item.title}
              p
                a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告